.white-button-toggle {
    background-color: white;
    color: black;
    border: none;
  }

 
 @media (max-width: 639px) {
  button {
    margin-bottom: 0.5rem;
  }
}

.fixed-modal-width {
  width: 100%;
}

.button-style {
  width: auto;
  margin-right: 1rem;
  transition: background-color 0.3s ease; 
  
}

.button-style:hover {
  background-color: #003057; 
  color: #ffff;
}
